main {
  padding: 60px 150px;

  .main__sections {
    display: flex;
    gap: 60px;
    margin-top: 100px;
  }
}

.total {
  margin-top: 60px;
  display: flex;
  flex-direction: column;

  &__summary {
    font-size: 30px;
    font-weight: 700;
    text-align: end;
    margin-right: 30%;
  }

  &__total {
    text-align: end;
    margin-right: 30%;
    margin-top: 40px;
    font-size: 36px;
    font-weight: 700;

    &__prise {
      color: #cc1212;
      margin-left: 300px;
      font-size: 40px;
    }
  }
}
